.sidebar {
        background-color: #0D1117;
}
.box-body .no-margin {
        background-color: #0D1117;
}
.btn-default {
        background-color: #0D1117;
}
.col-xs-6 .input-group-addon {
        background-color: #0D1117;
}
.box-body .select2-selection--multiple {
        background-color: #0D1117;
}
.form-group.col-xs-12 .input-group-addon {
        background-color: #0D1117;
}
#pUuid {
        background-color: #0D1117;
}
textarea.form-control {
        background-color: #0D1117;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
        background-color: #0D1117;
}
.select2-container--default .select2-selection--single {
        background-color: #0D1117;
}
.select2-container .select2-selection--single {
        background-color: #0D1117;
}
.select2-selection {
        background-color: #0D1117;
}
.modal-header {
        background-color: #0D1117;
}
.modal-body {
        background-color: #0D1117;
}
.select2-selection--single {
        background-color: #0D1117;
}
#pAuthor {
        background-color: #0D1117;
}
.select2-selection__rendered {
        background-color: #0D1117;
}
.row > .col-md-6 .form-control {
        background-color: #0D1117;
}
.col-xs-12 {
        background-color: #0D1117;
}
.nav-tabs {
        background-color: #0D1117;
}
.content-wrapper {
        background-color: #0D1117;
}
#pDescription {
        background-color: #0D1117;
}
.modal-footer {
        background-color: #0D1117;
}
.col-xs-12 {
        background-color: #0D1117;
}
.skin-blue .main-header .navbar {
        background-color: #0D1117;
}
.box-footer {
        background-color: #0D1117;
}
.skin-blue .main-header .logo {
        background-color: #0D1117;
}
input.form-control {
        background-color: #0D1117;
}
.form-control {
        background-color: #0D1117;
}
.content-wrapper {
        background-color: #0D1117;
}
.main-footer {
        background-color: #0D1117;
}
.with-border {
        background-color: #0D1117;
}
.box-body {
        background-color: #0D1117;
}
